<nav class="navbar">
  <a routerLink="/events" class="brand">Event Platform</a>

  <div class="links">
    <a routerLink="/events">Evenimente</a>
    @if(authService.hasRole("ADMIN")){
      <a routerLink="/manage-user">Users</a>
    }
    @if (authService.isLoggedIn()) {
      <a routerLink="/profile">Profilul meu</a>
    } @else{
    <a routerLink="/profile">Cont nou</a>
    }
    @if (authService.isLoggedIn()) {
      <button (click)="logout()">Deconectare</button>
    } @else {
      <a routerLink="/login" class="btn-login">Conectare</a>
    }
  </div>
</nav>
